* {
    margin: 0 ;
    padding: 0;
}

nav a {
    text-decoration: none;

}
img {
    height: 200px;
}
#image_container {
    border: 3px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 25px;
    padding-top: 5px
}

header {
    background-color: lightblue;

}

#box_container {
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 400px;
}

#box2 {
    flex-grow: 1;
    flex-shrink: 1;
}

.box {
    height: 75px;
    width: 75px;
    border: 2px solid red;
    flex-shrink: 0;
}

#media {
    height: 50px;
    width: 50px;
    background-color: darkkhaki;
    border: 3px solid black;

}

@media screen and (min-width: 300px) and (max-width:400px) {
    #media {
        background-color: red;
    }
}

@media screen and (min-width: 400px) {
    #media {
        background-color: blue;
    }
}